

<ion-view view-title="EspacePassager" >

  
 

	<ion-content>
<br/> <label class="item-input item-floating-label">
    <center><button class="buttonTemps"  ui-sref="app.ResTemps"></button></center>
    <center>Réservation en temps reél</center></label><br/>
     <label class="item-input item-floating-label">
      <center><button class="buttonAvance"  ui-sref="app.ResAvance"></button></center>
      <center>Réservation a l'avance</center></label><br/>
           <label class="item-input item-floating-label">
      <center><button class="buttonListeRes"  ui-sref="app.ResAvance"></button></center>
      <center>Liste de Reservation </center></label><br/>
       <label class="item-input item-floating-label">
	<center><button class="buttonHistorique"  ui-sref="app.HistPassager"></button></center>
  <center>Historique</center></label><br/><br/>


	</ion-content>
  

</ion-view>