
<ion-view view-title="Espace Chauffeur" >

	<ion-content>
  <br/>

 <div class="row">
 <div class="row">
  <div style="text-indent: 20px">
   <input type="radio" id="disp" name="g4">
    <label for="f-option">   Disponible</label>
    <div class="check"></div></div></div>
     <div class="row">
<div style="text-indent: 20px">
    <input type="radio" id="oc" name="g4">
    <label for="s-option">Occupeé </label>
    <div class="check" ></div></div></div>
     <div class="row">
<div style="text-indent: 20px">
    <input type="radio" id="hrs" name="g4">
    <label for="s-option">Hors-Service </label>
    <div class="check" ></div></div> </div>
   </div>

<br/>
<label class="item-input item-floating-label">
</label>
<label class="item-input item-floating-label">
    <center><button class="buttonAffectation"  ui-sref="app.ResTemps"></button></center>
    <center>Liste d'affectation</center></label>
<label class="item-input item-floating-label">
    <center><button class="buttonListeRes"  ui-sref="app.ResTemps"></button></center>
    <center>Demande de réservation</center></label>
     <label class="item-input item-floating-label">
      <center><button class="buttonMap"  ui-sref="app.ResAvance"></button></center>
      <center>Consulter le Map</center></label>
        <label class="item-input item-floating-label">
      <center><button class="buttonRevenu"  ui-sref="app.ResAvance"></button></center>
      <center>Revenu</center></label>
       <label class="item-input item-floating-label">
	<center><button class="buttonHistorique"  ui-sref="app.Historique"></button></center>
  <center>Historique</center></label><br/><br/>


	</ion-content>



</ion-view>