<ion-view view-title="Bienvenue"  >


<ion-content>

<label class="item-input item-floating-label">
    <center><button class="buttonPassager"  ng-click="goEspacePassager()"></button></center>
    <center>Espace Passager</center></label><br/>
     <label class="item-input item-floating-label">
      <center><button class="buttonChauffeur"  ng-click="goEspaceChauffeur()"></button></center>
      <center>Espace Chauffeur</center></label><br/>
       <label class="item-input item-floating-label">
	<center><button class="buttonPropritaire"  ng-click="goEspaceProprietaire()"></button></center>
  <center>Espace Propriétaire de taxi</center></label>
</ion-content></ion-view>


